.content {
    flex: 4;
    height: 94vh;
}

.content .placeholder-text {
    font-size: 12vh;
    margin-top: 35vh;
    margin-left: 50vh;
}

.feed .thumbnail {
    width: 15vw;
}

.category-title {
    font-size: 2vh;
    font-weight: bold;
}