.video-creator-name {
    font-size: 1.5vh;
    font-weight: 500;
    color: rgb(150, 150, 150);
}

.video-title {
    font-weight: 500;
    font-size: 2vh;
}

.video-description {
    font-size: 0.8vw;
    color: rgb(150, 150, 150);
}

.video-stats {
    font-weight: 500;
    font-size: 1.2vh;
    color: rgb(150, 150, 150);
}