.row-container {
    display: flex;
    flex-direction: row;

    .item {
        flex: 1;
    }
}

// todo https://css-tricks.com/webkit-html5-search-inputs/
.search-box {
    height: 2vh;
    align-self: center;
}

.navbar {
    flex: 1;
}

.main {
    flex: 7;
}

.top-bar {
    display: flex;
    flex-direction: column;
    height: 8vh;
}

.content {
    flex: 4;
}

.side-info {
    height: 92vh;
    flex: 1;
}

.app {
    @extend .row-container;
    height: 100vh;
}