.row-container {
    display: flex;
    flex-direction: row;

    .item {
        flex: 1;
    }
}

.navbar {
    flex: 1;
}

.main {
    flex: 7;
}

.top-bar {
    height: 8vh;
}

.content {
    flex: 4;
}

.side-info {
    height: 92vh;
    flex: 1;
}

.app {
    @extend .row-container;
    height: 100vh;
}